<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CarreraServlet</servlet-name>
        <servlet-class>Controllers.CarreraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoServlet</servlet-name>
        <servlet-class>Controllers.AlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorServlet</servlet-name>
        <servlet-class>Controllers.ProfesorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LlenarCarreras</servlet-name>
        <servlet-class>Controllers.LlenarCarreras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaServlet</servlet-name>
        <servlet-class>Controllers.MateriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LlenarCarrerasMateria</servlet-name>
        <servlet-class>Controllers.LlenarCarrerasMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamenServlet</servlet-name>
        <servlet-class>Controllers.ExamenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LlenarMateriasExamen</servlet-name>
        <servlet-class>Controllers.LlenarMateriasExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LlenarMateriasHacerExamen</servlet-name>
        <servlet-class>Controllers.LlenarHacerExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalificacionesTodas</servlet-name>
        <servlet-class>VisoresPDF.CalificacionesTodas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesionServlet</servlet-name>
        <servlet-class>Controllers.InicioSesionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarreraServlet</servlet-name>
        <url-pattern>/CarreraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoServlet</servlet-name>
        <url-pattern>/AlumnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorServlet</servlet-name>
        <url-pattern>/ProfesorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LlenarCarreras</servlet-name>
        <url-pattern>/LlenarCarreras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaServlet</servlet-name>
        <url-pattern>/MateriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LlenarCarrerasMateria</servlet-name>
        <url-pattern>/LlenarCarrerasMateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamenServlet</servlet-name>
        <url-pattern>/ExamenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LlenarMateriasExamen</servlet-name>
        <url-pattern>/LlenarMateriasExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LlenarMateriasHacerExamen</servlet-name>
        <url-pattern>/LlenarMateriasHacerExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalificacionesTodas</servlet-name>
        <url-pattern>/CalificacionesTodas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesionServlet</servlet-name>
        <url-pattern>/InicioSesionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
